<li class="mdl-menu__item event-item" data-event-id="<%= event.id %>" data-event-lat="<%= event.lat %>" data-event-lon="<%= event.lon %>">
  <span><%= "#{event.description} (Lat: #{event.lat}, Lon: #{event.lon})" %></span>
</li>