<li class="mdl-menu__item event-item" data-event-id="<%= event.id %>" data-event-lat="<%= event.start_position.lat %>" data-event-lng="<%= event.start_position.lng %>">
  <span><%= "#{event.description} (Lat: #{event.start_position.lat}, Lng: #{event.start_position.lng})" %></span>
</li>