<li class="mdl-menu__item event-item" data-event-id="<%= event.id %>" data-event-lat="<%= event.start_position.lat %>" data-event-lon="<%= event.start_position.lon %>">
  <span><%= "#{event.description} (Lat: #{event.start_position.lat}, Lon: #{event.start_position.lon})" %></span>
</li>